/* === ГОЛОВНИЙ БЛОК === */
.focus__mai_trust {
  text-align: center;
  padding: 60px 20px;
  color: var(--color-primary);
  font-size: 15px;
  font-weight: bold;
  flex-wrap: wrap;
  text-transform: uppercase;
  align-items: center;
  font-family: var(--font-family);
  letter-spacing: 0.03em;
}

/* === КНОПКА === */
.fast__calculation-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-transform: uppercase;
  font-family: var(--font-family);
  background-color: var(--color-primary); /* фіолетовий фон */
  color: var(--text-color); /* білий текст */
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  border: none;
  text-decoration: none; /* прибирає підкреслення */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.25s ease;
  text-shadow: none;
}

.fast__calculation-button:hover {
  background-color: var(--color-secondary); /* жовтий фон */
  color: var(--color-primary); /* фіолетовий текст */
  text-shadow: none;
  transform: scale(1.05); /* легка анімація */
}

/* === ДЕСКТОП === */
@media (min-width: 768px) {
  .desktop-only {
    display: inline;
  }

  .focus__mai_trust-text h2 {
    font-family: var(--font-family);
    font-weight: 550;
  }

  .focus__mai_trust {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 0 119px;
    color: var(--color-primary);
    font-size: 30px;
    margin-top: 60px;
    line-height: 1.1;
    text-transform: uppercase;
    font-family: var(--font-family);
  }

  .fast__calculation-button {
    background-color: var(--color-primary);
    color: var(--text-color);
    padding: 25px 40px;
    border-radius: 50px;
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    text-decoration: none; /* без підкреслення */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.25s ease;
    margin-top: auto;
  }

  .fast__calculation-button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    text-shadow: none;
    transform: scale(1.05);
  }
}

/* === ПЛАВНА ПРОКРУТКА ДО РОЗДІЛУ === */
html {
  scroll-behavior: smooth;
}